<div class="container mt-5">

  <div class="row mb-5">

    <div class="col-md-6 mt-4 p-3 card">
      <p class="text-center">List Chat a adopter</p>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Race</th>
            <th scope="col">Birthday</th>
            <th scope="col">Picture</th>

          </tr>
        </thead>
        <tbody>

          <ng-container *ngFor="let current of kittenList;">
            <tr>
              <td>{{current.Name}}</td>
              <td>{{current.Race}}</td>
              <td>{{current.Birthday}}</td>
              <td><img [src]="current.Picture" alt="image" class="card-img-top" /></td>
              <td>
                <button class="btn btn-success" (click)="addKittenUser(current.Name, current.Race, current.Birthday, current.Picture, current)">Ajouter</button>
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </div>

</div>
